/*IMPORT----------------------------------------*/
/* SCHRIFT FIRA: font-family: 'Fira Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* SCHRIFT BEBAS: font-family: 'Bebas Neue', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap');


/*VARIABELN----------------------------------------*/
:root{
    /*FARBEN*/
    --beige: #F1EDE4;
    --hellblau: #45AAB4;
    --black: #000000;
    --dunkelblau: #164650;
    --rot: #B52417;
    --desktopnavisability:block;
    --mobilenavisability:none;


    /*H2*/
    --zeichenabstand: 0.05em;

    /*p*/
    --zeichenabstand2: 0.05em;
    --grösse2: 110%;
    --zeilenabstand: 30px;
}



/*ALLGEMEIN----------------------------------------*/
body{
    hyphens: auto;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    font-family: 'Fira Sans', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
  letter-spacing: var(--zeichenabstand);
}

p{
  letter-spacing: var(--zeichenabstand2);
  font-size: var(--grösse2);
  line-height: var(--zeilenabstand);

}


/*Onepage*/
section.onepage{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}
section.onepage header{
    height: auto;
    position: absolute;
    width: 100vw;

    top: 0;
    left: 0;
}
section.onepage main{
    width: 80vw;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 120px;
}
section.onepage footer{
    width: 100%;

}

.navigation{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}


button{
  border: none;
  background: none;

}

.jetztregistrieren{
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 25px;
  font-size: 110%;
  letter-spacing: 0.05em;
  margin-top: 20px;

}


.icon{
  color: black;
  padding: 60px;
  font-size: 1.5rem;
}




#logo{
  margin: 3rem;
}


.knopf{
  margin-top: 8vh;
  text-align: center;

}



nav{
  display: flex;

  width: 100vw;
  height: 11vh;
  position: fixed;
  bottom: -2px;
  background: white;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;

}

.navigation{
  width: 80vw;
}

ul{

  align-item: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
}

.login{
  border: none;
  background-color: inherit;
  color: black;
}

a{
  text-transform: none;
  text-decoration: none;
  color: var(--dunkelblau);
}

a:hover, a:active{
  color: var(--hellblau);
}

.btnHinzuf{
    padding: 67px 30px;
    background-color: var(--black);
    border-radius: 500px;
    margin-top: -4vh;
}

ul li a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.arrow_black{
  width: 100px;
}




.box{
  background: var(--black);
  border-radius: 10px;
  color: white;
  padding: 2rem;
  margin: 2rem 0px;

}

.delete{
  color: var(--rot);
}

input{
  margin: 50px 0px;
  background: white;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 10px lightgrey;
  width: 100%;
  height: 120px;
}

label{
  margin: 50px 0px;
}

.desktop-meldung{
  display: none;
  background-color: black;
}

@media (min-width: 992px) {

  .desktop-meldung{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    text-align: center;
    justify-content: center;
  }

  .desktop-meldung h2{
      color: var(--dunkelblau);
      margin-top: 0;
  }

  main{
    display: none;
  }
  nav{
    display: none;
  }
  header{
    display: none;
  }
  footer{
    display: none;
  }

 }
