/*IMPORT----------------------------------------*/
/* SCHRIFT FIRA: font-family: 'Fira Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* SCHRIFT BEBAS: font-family: 'Bebas Neue', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');



/*VARIABELN----------------------------------------*/
:root{
    /*FARBEN*/
    --beige: #F1EDE4;
    --hellblau: #45AAB4;
    --black: #000000;
    --dunkelblau: #164650;
    --rot: #B52417;
    --desktopnavisability:block;
    --mobilenavisability:none;


    /*H2*/
    --zeichenabstand: 0.05em;

    /*p*/
    --zeichenabstand2: 0.05em;
    --grösse2: 110%;
    --zeilenabstand: 30px;
}



/*ALLGEMEIN----------------------------------------*/
body{
    hyphens: auto;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    font-family: 'Fira Sans', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: -webkit-fill-available;

}

header{
  width: 80vw;


}




h2{
  letter-spacing: var(--zeichenabstand);
}

p{
  letter-spacing: var(--zeichenabstand2);
  font-size: var(--grösse2);
  line-height: var(--zeilenabstand);

}

section.register{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
}



/*Index Onepage*/

section.onepage{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 80vh;
    position: fixed;

}


section.onepage button{
  border: none;
  background-color: white;
  padding-left: 20vh;
}


/*Home Onepage*/

body.home {
  background-color: whitesmoke;
}
section.home{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;


}

section.home main{
    width: 80vw;
    min-height: 80vh;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

section.home button {
  padding-left: 1rem;
  padding-bottom: 1rem;
  border: none;
  background-color: transparent;
}

section.home p {
  padding-left: 1rem;
}


/*Scrollpage Inventar*/

body.inventar{
  background: whitesmoke;
  min-height: -webkit-fill-available;
}

section.inventar{
    display: block;

}


section.inventar main{
    min-height: 100vh;
    width: 90vw;
    display: block;
    padding-left: 1rem;
}



section.inventar h2{
  padding-left: 1rem;
  padding-top: 2rem;
}

/*onepage Menu*/


body.menu {
  background-color: white;
}

section.menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 80vh;
    min-height: -webkit-fill-available;
}



section.menu main{
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 5vh;
}

section.menu h2{
  padding-left: 1rem;
}


section.menu button{
  padding-left: 2rem;
  border: none;
  background-color: white;
}





/*Scrollpage Alert*/
body.alert{
  background: whitesmoke;
  min-height: -webkit-fill-available;
}

section.alert{
    display: block;

}


section.alert main{
    min-height: 100vh;
    width: 90vw;
    display: block;
    padding-left: 1rem;
}



section.alert h2{
  padding-left: 1rem;
  padding-top: 2rem;
}




/*Login*/

section.login{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 80vh;
    min-height: -webkit-fill-available;
}



body.login {
  background: whitesmoke;
}

section.login main{
    width: 80vw;
    min-height: 70vh;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.footerloggout {
  width: 100%; /* Full-width */
  background-color: #555; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}

.footerloggout a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}


.iconfooter{
  color: black;
  font-size: 1.5rem;
}

.iconloggout{
  color: black;
  font-size: 1.5rem;
}





.icon{

  color: black;
  padding: 3rem;
  font-size: 1.5rem;
}


#logo{
  padding-top: 2rem;
}

#arrow {
  padding-top: 2rem;
  padding-right: 20rem;
}

.knopf{
  margin-top: 8vh;
  text-align: center;

}


nav{
  display: flex;
  height: 11vh;
  position: fixed;
  width: 20%;
  bottom: -2px;
  background: none;
  font-size: 2.5rem;
  width: 90vw;
  align-items: center;
  justify-content: space-between;


}

li{
  display: flex;
  height: 11vh;
  position: fixed;
  width: 20%;
  bottom: -2px;
  background: none;
  font-size: 2.5rem;
  width: 90vw;
  align-items: center;
  justify-content: space-between;

}


a{
  text-transform: none;
  text-decoration: none;
  color: var(--dunkelblau);
}

a:hover, a:active{
  color: var(--hellblau);
}

.btnHinzuf{
    padding: 67px 30px;
    background-color: var(--black);
    border-radius: 500px;
    margin-top: -4vh;
}




/*Boxes*/

.box{
  background: white;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--black);
  margin-bottom: 10%;;
  border-radius: 25px;
  background: whitesmoke;
  box-shadow:  2px -4px 10px #b7b7b7, -3px 3px 12px #ffffff;

}

.produktbox{
  background: white;
  border-radius: 25px;
  height: auto;
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 10% 50%;
  height: auto;
  color: var(--black);
  margin-top: 1rem;
  grid-gap: 2rem;
  grid-template-columns: 40% auto;

}

.alertbox{
  background: white;
  border-radius: 25px;
  display: grid;
  color: var(--black);
  margin-top: 1rem;
  grid-template-columns: 1fr 2fr;
  box-shadow:  2px -4px 8px #b7b7b7, -3px 3px 12px #ffffff;

}

.alerttext {
  padding-left: 2rem;
  letter-spacing: var(--zeichenabstand2);
  line-height: var(--zeilenabstand);
  font-size: var(--grösse2);
}



.menu{
  border-radius: 25px;
  height: auto;
  max-width: 90vw;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 70% auto;
  color: var(--black);
  align-items: center;
  padding-bottom: 1rem;

}



.testbild{
    grid-column-start: 1;
    grid-row-end: 2;
    border-radius: 25%;
    padding: 1rem;
}


.delete{
  color: var(--rot);
}

input{
  margin: 50px 0px;
  background: white;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 10px lightgrey;
  width: 100%;
  height: 120px;

}

label{
  margin: 50px 0px;
}

.desktop-meldung{
  display: none;
  background-color: black;
}

@media (min-width: 992px) {

  .desktop-meldung{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    text-align: center;
    justify-content: center;
  }

  .desktop-meldung h2{
      color: var(--dunkelblau);
      margin-top: 0;
  }


  nav{
    display: none;
  }


section.rot header {
  background-color: red;
}





 }
