/*IMPORT----------------------------------------*/
/* SCHRIFT FIRA: font-family: 'Fira Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* SCHRIFT BEBAS: font-family: 'Bebas Neue', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');



/*VARIABELN----------------------------------------*/
:root{
    /*FARBEN*/
    --beige: #F1EDE4;
    --hellblau: #45AAB4;
    --black: #000000;
    --dunkelblau: #164650;
    --rot: #B52417;
    --desktopnavisability:block;
    --mobilenavisability:none;


    /*H2*/
    --zeichenabstand: 0.05em;

    /*p*/
    --zeichenabstand2: 0.05em;
    --grösse2: 110%;
    --zeilenabstand: 30px;
}



/*ALLGEMEIN----------------------------------------*/
body{
    hyphens: auto;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    font-family: 'Fira Sans', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
  letter-spacing: var(--zeichenabstand);
}

p{
  letter-spacing: var(--zeichenabstand2);
  font-size: var(--grösse2);
  line-height: var(--zeilenabstand);

}


/*Index Onepage*/

section.onepage{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}

section.onepage header{
    height: auto;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
}

section.onepage main{
    width: 80vw;
    min-height: 70vh;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

section.onepage footer{
    width: 100%;
    position: fixed;


}



/*Home Onepage*/

section.home{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 80vh;
}

section.home header{
    height: auto;
    position: absolute;
    width: 100vw;

    top: 0;
    left: 0;
}

body.home {
  background: whitesmoke;
}

section.home main{
    width: 80vw;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

section.home footer{
    width: 100%;
    position: fixed;

}

section.home h2{
  padding-left: 1rem;
}

section.home p{
  padding-left: 1rem;

}
section.home button{
  padding-bottom: 1rem;
  padding-left: 1rem;
}






/*Scrollpage Inventar*/
body.inventar{
  background: whitesmoke;
}

section.inventar{
    display: block;

}
section.inventar header{
    height: auto;
}


section.inventar main{
    min-height: 100vh;
    width: 90vw;
    display: block;
}

section.inventar footer{
    width: 90vw;
    position: fixed;
}

section.inventar h2{
  padding-left: 1rem;
}





/*Scrollpage Alert*/
body.alert{
  background: whitesmoke;
}

section.alert{
    display: block;

}
section.alert header{
    height: auto;
}


section.alert main{
    min-height: 100vh;
    width: 90vw;
    display: block;
}



section.alert h2{
  padding-left: 1rem;
}




/*Login*/

section.login header {
  height: auto;
  position: absolute;
  width: 100vw;

  top: 0;
  left: 0;
}

form {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 100px;

}



button{
  border: none;
  background: none;

}

.jetztregistrieren{
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 25px;
  font-size: 110%;
  letter-spacing: 0.05em;
  margin-top: 20px;

}


.icon{
  color: black;
  padding: 1.5rem;
  font-size: 1.5rem;
}




#logo{
  padding-top: 3rem;
}


.knopf{
  margin-top: 8vh;
  text-align: center;

}


nav{
  display: flex;

  width: 100vw;
  height: 11vh;
  position: fixed;
  bottom: -2px;
  background: white;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;

}

.navigation{
  width: 90vw;

}



.login{
  border: none;
  background-color: inherit;
  color: black;
}

a{
  text-transform: none;
  text-decoration: none;
  color: var(--dunkelblau);
}

a:hover, a:active{
  color: var(--hellblau);
}

.btnHinzuf{
    padding: 67px 30px;
    background-color: var(--black);
    border-radius: 500px;
    margin-top: -4vh;
}



.arrow_black{
  width: 100px;
}


/*Boxes*/

.box{
  background: white;
  border-radius: 25px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--black);
  margin-top: 2rem;

}

.produktbox{
  background: white;
  border-radius: 25px;
  height: auto;
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 10% 50%;
  height: auto;
  color: var(--black);
  margin-top: 1rem;
  grid-gap: 2rem;
  grid-template-columns: 40% auto;

}

.alertbox{
  background: white;
  border-radius: 25px;
  height: auto;
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 10% 50%;
  height: auto;
  color: var(--black);
  margin-top: 1rem;
  grid-gap: 2rem;
  grid-template-columns: 40% auto;
}

.menu{
  border-radius: 25px;
  height: auto;
  max-width: 90vw;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 70% auto;
  color: var(--black);
  align-items: center;

}



.testbild{
    grid-column-start: 1;
    grid-row-end: 2;
    border-radius: 25%;
    padding: 1rem;
}

.produktname{
  grid-column-start: 2;

}

.datum{
  grid-column-start: 2;
  grid-row-end: 2;
}

.delete{
  color: var(--rot);
}

input{
  margin: 50px 0px;
  background: white;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 10px lightgrey;
  width: 100%;
  height: 120px;

}

label{
  margin: 50px 0px;
}

.desktop-meldung{
  display: none;
  background-color: black;
}

@media (min-width: 992px) {

  .desktop-meldung{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    text-align: center;
    justify-content: center;
  }

  .desktop-meldung h2{
      color: var(--dunkelblau);
      margin-top: 0;
  }

  main{
    display: none;
  }
  nav{
    display: none;
  }
  header{
    display: none;
  }

 }
