/*IMPORT----------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');









/*VARIABELN----------------------------------------*/
:root{
    /*FARBEN*/
    --beige: #F1EDE4;
    --hellblau: #45AAB4;
    --black: #000000;
    --dunkelblau: #164650;
    --rot: #B52417;
    --desktopnavisability:block;
    --mobilenavisability:none;



    /*p*/

    --grösse2: 1.2em;
    --grösse3: 1.3em;
    --zeilenabstand: 25px;
}



/*ALLGEMEIN----------------------------------------*/
body{
    hyphens: auto;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;

    color: black;
    width: 100vw;
    height: 100vh;
    font-family: 'DM Sans', sans-serif;

    min-height: -webkit-fill-available;

    box-sizing: border-box;
    background: white;
    hyphens: none;





}







header{
  width: 100%;
  height: 7vh;
  position: fixed;
  background-color: grey;
}


#logo{
  padding-left: 1rem;
}


@media only screen and (max-height: 699px) {
  h2 {
    font-size: 1.8rem;
    margin: 0;
  }
}


@media only screen and (min-height: 700px) {
h2{
  font-weight: 700;
  line-height: 2.5rem;
  font-size: 2.5rem;
  margin-bottom: 0;
}
}


p{
  letter-spacing: 0.05em;
  font-size: 1rem;
  line-height: var(--zeilenabstand);
  color: black;
  margin-bottom: 0;
  margin-top: 20px;



}

h3 {
  letter-spacing: 0.06em;
  font-weight: 500;
  font-size: var(--grösse2);
  line-height: var(--zeilenabstand);
}


/*registrieren*/
input::placeholder{
  font-weight: 100;
}

section.register{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: -webkit-fill-available;
}

section.register main{
    width: 80vw;
    min-height: 85vh;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}


section.register h6 {
    letter-spacing: 0.05em;
    font-weight: 100;
    font-size: 1rem;
    line-height: var(--zeilenabstand);
    margin-top: 2em;
    color: black;
    text-align: center;
  }


section.register h2{
  padding-left: 0;
}

@media only screen and (min-height: 700px) {

  section.register button{
    border: 1px solid black;
    background-color: black;
    color: white;
    width: 80vw;
    padding: 10px;
    border-radius: 25px;
    margin-top: 70px;
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: 0.06em;
  }

}

@media only screen and (max-height: 699px) {

  section.register button{
    margin-top: 50px;
    border: 1px solid black;
    background-color: black;
    color: white;
    width: 80vw;
    padding: 10px;
    border-radius: 25px;
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: 0.06em;

  }

  h6{
    margin:0;
  }

}



section.register h3{
  color: grey;
  text-align: center;
  padding-top: 50px;
  margin: 0;
}


section.register p{
  font-size: 1rem;
}


/*New Item*/

section.newitem main{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 85vh;
  margin-top: 100px;
  box-sizing: border-box;
}



.buttonnewitem{
  border: 1px solid black;
  background-color: black;
  color: white;
  width: 90vw;
  height:30px;
  border-radius: 25px;
  margin-top: 45px;
  letter-spacing: var(--zeichenabstand2);
  font-size: var(--grösse2);
}


.buttondeleteitem{
  border: 1px solid black;
  background-color: white;
  color: black;
  width: 90vw;
  height:30px;
  border-radius: 25px;
  margin-top: 10px;
  letter-spacing: var(--zeichenabstand2);
  font-size: var(--grösse2);
}


/*Index Onepage*/

section.onepage{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 85vh;
    width: 90vw;
    box-sizing: border-box;
    position: fixed;
    padding-left: 1rem;
}


section.onepage button{
  border: none;
  background-color: white;
  width: 90vw;
  padding-top: 50px;
}

section.onepage h2{
  margin-left: 20px;
  padding-left: 0;
  line-height: 3rem;
}

section.onepage p{
  margin-left: 20px;
  margin-top: 20px;
  font-size: 1rem;
}

h3{
  margin: 0;
  padding: 0;
}



/*Home Onepage*/


body.home {
  background-color: whitesmoke;
}


section.home main{
    width: 80vw;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 2rem;

}

section.home button {
  padding-bottom: 1rem;
  padding-top: 1rem;
  border: none;
  background-color: transparent;

}


/*Scrollpage Inventar*/

section.inventar main{
    width: 90vw;
    min-height: 80vh;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}



body.inventar{
  background: whitesmoke;
  min-height: -webkit-fill-available;
}




section.inventar h2{
  padding-left: 1rem;
  padding-top: 2rem;
}


.alertbutton{
  border: solid 1px red;
  background-color: red;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 10px;
  right:10px;
}

.alertbutton span{
  padding-left: 6px;
}


section.artikelerfassen button{
  border: 1px solid black;
  background-color: black;
  color: white;
  width: 80vw;
  padding: 10px;
  border-radius: 25px;
  margin-top: 45px;
  letter-spacing: var(--zeichenabstand2);
  font-size: var(--grösse2);
}


section.artikelerfassen{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left:0.5em;
  height: 70vh;
  margin-top: 50px;
  box-sizing: border-box;


}

/*onepage Menu*/



section.menu main{
    width: 80vw;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

section.menu h2{
  padding-left: 1rem;
}


section.menu button{
  padding-left: 3rem;
  padding-top: 1rem;
  border: none;
  background-color: white;
}





/*Scrollpage Alert*/
body.alert{
  background: whitesmoke;
  c
}

section.alert{
    display: block;

}


section.alert main{
    min-height: 100vh;
    width: 100%;
    display: block;

}



section.alert h2{
  padding-left: 1rem;
  padding-top: 2rem;
}




/*Login*/

section.login{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 80vh;
    min-height: -webkit-fill-available;
}

section.login main{
    width: 80vw;
    min-height: 85vh;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

body.login {
  background: whitesmoke;
}



section.login button{
  border: 1px solid black;
  background-color: black;
  color: white;
  width: 80vw;
  padding: 10px;
  border-radius: 25px;
  margin-top: 70px;
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: 0.06em;
}

section.login h6 {
    letter-spacing: 0.05em;
    font-weight: 100;
    font-size: 1rem;
    line-height: var(--zeilenabstand);
    margin-bottom: 0;
    margin-top: 2em;
    color: black;
  }

  section.login h3{
    color: grey;
    text-align: center;
    padding-top: 50px;
    font-size: 1rem;
    margin: 0;
  }

  section.login p {
    text-align: center;
    margin-top: 2em;
    font-size: 1rem;


  }





/*Infoseiten*/

section.info p{
  font-size: 1rem;
}

section.info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;


}


section.info main{
    width: 80vw;
    min-height: 80vh;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}



.footerloggout {
  width: 100%; /* Full-width */
  background-color: #555; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */

}

.footerloggout a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}


.iconfooter{
  color: black;
  font-size: 1.5rem;
}

.iconloggout{
  color: black;
  font-size: 1.5rem;
}





.icon{

  color: black;
  padding: 3rem;
  font-size: 1.5rem;
}


#pfeil {
  padding-top: 20px;
  padding-left: 20px;
  border: none;
  background-color: transparent;
}


nav{
  display: flex;
  height: 8%;
  position: fixed;
  width: 20%;
  bottom: -2px;
  left: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  font-size: 2.5rem;
  width: 100vw;
  align-items: center;
  justify-content: space-between;


}

li{
  display: flex;
  height: 11vh;
  position: fixed;
  width: 20%;
  bottom: -2px;
  background: none;
  font-size: 2.5rem;
  width: 90vw;
  align-items: center;
  justify-content: space-between;

}


a{
  text-transform: none;
  text-decoration: none;
  color: var(--dunkelblau);
}

a:hover, a:active{
  color: var(--hellblau);
}

.btnHinzuf{
    padding: 67px 30px;
    background-color: var(--black);
    border-radius: 500px;
    margin-top: -4vh;
}




/*Boxes*/

.produktonly{
  background: white;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--black);
  margin-bottom: 10%;;
  border-radius: 25px;
  margin-top: 50px;
  position: relative;
}

body.produktseite{
  background-color: whitesmoke;
}

.inhaltproduktonly{
  padding-left: 1rem;
}

.buttonsproduktonly{
    padding-left: 1rem;
  }

.produktonlyedit{
    border: none;
    color: white;
    background-color: black;
    border-radius: 50px;
    height:30px;
    width: 30px;
    position: absolute;
    top: 10px;
    right:10px;
  }

  .löschen{
    border: 1px solid black;
    background-color: black;
    color: white;
    width: 90vw;
    padding: 10px;
    border-radius: 25px;
    margin-top: 10px;
    letter-spacing: var(--zeichenabstand2);
    font-size: var(--grösse2);
  }

/*.box{
  background: white;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--black);
  margin-bottom: 10%;;
  border-radius: 25px;
  background: whitesmoke;
  box-shadow:  2px -4px 10px #b7b7b7, -3px 3px 12px #ffffff;

} */


.box{
  background: white;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--black);
  margin-top: 30px;
  border-bottom: solid 1px black;
  background-color: whitesmoke;




}














.quittungbox{
  background: white;
  height: auto;
  color: var(--black);
  margin-bottom: 10%;;
  border-radius: 25px;
  background: white;
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.quittungbox button {
  padding-bottom: 1rem;
  border: none;
  background-color: transparent;
}



.produktbox{
  position: relative;
  background: white;
  border-radius: 25px;
  height: auto;
  display: grid;
  grid-template-columns: 40% auto;
  height: auto;
  color: var(--black);
  margin-top: 1rem;
  padding-bottom: 1rem;
  grid-template-columns: 40% auto;

}

.produkt{
  position: relative;
  background: white;
  border-radius: 25px;
  height: auto;
  height: auto;
  color: var(--black);
  margin-top: 1rem;

}
body.produkt {
  background-color: whitesmoke;
}



.alertbox{
  position: relative;
  background: white;
  border-radius: 25px;
  height: auto;
  display: grid;
  grid-template-columns: 40% auto;
  height: auto;
  color: var(--black);
  margin-top: 1rem;
  grid-template-columns: 40% auto;
  padding-bottom: 1rem;

}

.alerttext {
  letter-spacing: var(--zeichenabstand2);
  line-height: var(--zeilenabstand);
  font-size: var(--grösse2);
  padding-left: 2rem;
  padding-right: 2rem;
}

.alerttext h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.löschenalert{
  border: 1px solid black;
  background-color: black;
  color: white;
  width: 85vw;
  padding: 5px;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
  letter-spacing: 0.07em;
  font-weight: 300;
  font-size: var(--grösse2);
}

.artikelbehalten{
  border: 1px solid black;
  background-color: white;
  color: black;
  width: 85vw;
  padding: 5px;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1rem;
  letter-spacing: 0.07em;
  font-weight: 300;
  font-size: var(--grösse2);
}



.menu{
  border-radius: 25px;
  height: auto;
  max-width: 90vw;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 80% auto;
  color: var(--black);
  align-items: center;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 0.5rem;



}

/*NavProfile Onepage*/


section.profile{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;


}

section.profile main{
    width: 80vw;
    min-height: 85vh;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}


.navprofilelink {
  display: flex;
  font-size: var(--grösse2);
  letter-spacing: var(--zeichenabstand2);
  color: black;
  margin-top: 20px;
  align-items: center;
}

.iconsprofil{
  margin-right: 50px;

}




.testbild{
    grid-column-start: 1;
    grid-row-end: 2;
    border-radius: 25%;
    padding: 1rem;
}


.delete{
  color: var(--rot);
}


@media only screen and (min-height: 700px) {

input{
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 30px;
  width: 80vw;
  margin-top: 20px;

}
}

@media only screen and (max-height: 699px) {

input{
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 30px;
  width: 80vw;
  margin-top: 30px;

}
}






label{
  margin: 50px 0px;
  letter-spacing: 0.05em;
  font-weight: 300;
  font-size: var(--grösse2);

}

.desktop-meldung{
  display: none;
  background-color: black;
}

@media (min-width: 992px) {

  .desktop-meldung{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    text-align: center;
    justify-content: center;
  }

  .desktop-meldung h2{
      color: var(--dunkelblau);
      margin-top: 0;
  }


  nav{
    display: none;
  }


 }

 .banner {
  align-content: center; display: none;
  justify-content: center; width: 100%;
 }
